.container {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background-color: rgb(137,170,237);
}

.weather {
    width: 300%;
    padding: 30px;
    border-radius: 10px;
    margin: 50px auto;
    background: linear-gradient(130deg, rgb(86,86,235), rgb(5,5,199));
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search button img {
    width: 20px;
}

.winfo .icon{
    margin-top: 20px;
    width: 170px;
}

.winfo h1{
    font-size: 70px;
    font-weight: 500;
    margin-top: 5px;
}

.winfo h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -40px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}

.details .col{
    display: flex;
    align-items: center;
    text-align: left;
}

.details .col img{
    width: 45px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 27px;

}
